<p><%= @user.name  %></p>
<p>thank you for signing up</p>
<p>voici notre lien sur facebook https://www.facebook.com/nubianspirit/</p>
<p>voici notre lien sur instagram https://www.instagram.com/nubianspiritmusic/?hl=fr</p>
