<header>
  <nav>
    <ul class="main__admin">
      <li> <%= link_to translate("logout"), session_path(current_user),method: :delete %> </li>
      <li> <%= link_to(translate("viewmodification"),artists_path) %> </li>
    </ul>
  </nav>
</header>
