<body class="show">
<header>
  <nav>
    <ul class="main__admin">
      <li> <a href="#"> Log Out </a> </li>
      <li>  <%= link_to('Dashbord',admin_albums_path)  %> </li>
    </ul>
  </nav>
</header>

<%= render partial: 'card_create_album', locals: { album: @album } %>
</body>
