<body class="show">
<header>
  <nav>
    <ul class="main__admin">
      <li> <%= link_to translate("logout"), session_path(current_user),method: :delete %> </li>
      <li> <%= link_to('Dashbord',admin_sounds_path)  %> </li>
    </ul>
  </nav>
</header>

<%= render partial: 'card_create_artist', locals: { artist: @artist } %>
</body>
