<body class="show">
<header>
  <nav>
    <ul class="main__admin">
      <li> <%= link_to translate("logout"), session_path(current_user),method: :delete %> </li>
      <li> <%= link_to('Dashbord',admin_sounds_path)  %> </li>
    </ul>
  </nav>
</header>
  <p id="notice"><%= notice %></p>
<%= render partial: 'create_agenda', locals: { agenda: @agenda } %>
</body>
