<body class="body_form">

  <!--
  ===================
  =========== bloc header document
  ===================
  -->
  <header>

    <!--
    ===================
    =========== navigation bar for telephone/tablet
    ===================
    -->
    <nav class="navebar-tel-tab" style="display:block;">
      <label class="label-chk" for="chk">&#9776;</label>
      <input type="checkbox" class="chk" name="chk" id="chk">
      <ul class="navebar-tel-tab--navigation">
        <li> <%= link_to translate("logout"), session_path(current_user),method: :delete %> </li>
        <li> <%= link_to('Dashbord',admin_sounds_path)  %> </li>

      </ul>
    </nav>
  </header>

  <main>
    <section class="cadre">

      <div class="text--center">
        <h1 class="gamma">New Album</h1>
      </div>
        <%=render(partial: "form_album", locals: { album: @album, song: @songs, song_album: @song_album})  %>

    </section>
  </main>

  



</body>
