
<div class="bloc-presentation">
  <p id="notice"><%= notice %></p>
<div class="bloc-notice">
</div>
<div class="card-presentation">
  <div class="info-and-card reveal">
    <div class="info">
      <h3> <%= album.title %> </h3>
      <span> <%= album.name %> </span>
    </div>
    <div class="card">

      <%= image_tag("circle-profile.jpeg")  %>
    </div>
  </div>

  </div>
