
<div class="bloc-presentation" id="bloc-presentation">
  <p id="notice"><%= notice %></p>
<div class="bloc-notice">
</div>
<div class="card-presentation">
  <div class="info-and-card reveal">
    <div class="info info--show">

       <%= album.name %>
    </div>
    <div class="card">

      <%= image_tag(album.photo_album)  %>
    </div>
  </div>

  </div>
  </div>
