
<div class="bloc-presentation">
  <p id="notice"><%= notice %></p>
<div class="bloc-notice">
</div>
<div class="card-presentation">
  <div class="info-and-card reveal">
    <div class="info">
      <h3> <%= user.name %> </h3>

    </div>
    <div class="card">

      <%= image_tag(user.profil_img)  %>
    </div>
  </div>

  </div>
